.header-navigation__button {
  display: inline-block;
  margin: 1vw 1vh;
}

.header-navigation__button-inic {
  border-color: $white;
  background-color: $white;
  font-family: $open-sans;
  font-weight: $regular;
  font-size: $x-small;
  margin-right: 20px;
}

.header-navigation__button-reg {
  border-color: $ball-blue;
  background-color: $ball-blue;
  font-family: $open-sans;
  font-weight: $regular;
  font-size: $x-small;
  color: $white;
  padding: 6px 15px;
}

.precios-card__button {
  width: 300px;
  height: 30px;
  background-color: $ball-blue;
  border-color: $ball-blue;
  font-family: $open-sans;
  font-weight: $regular;
  font-size: $x-small;
  color: $white;
  display: flex;
  align-items: flex-end;
  align-content: center;
}
