h1 {
  font-family: $raleway;
  font-weight: $bold;
  font-size: $xxxxx-large;
  color: $rasing-black;
}

h2 {
  font-family: $raleway;
  font-weight: $bold;
  font-size: $xxxx-large;
  color: $rasing-black;
}

h3 {
  font-family: $raleway;
  font-weight: $bold;
  font-size: $xxx-large;
  color: $rasing-black;
}

h4 {
  font-family: $raleway;
  font-weight: $bold;
  font-size: $xx-large;
  color: $rasing-black;
}

h5 {
  font-family: $raleway;
  font-weight: $regular;
  font-size: $x-large;
  color: $nickel;
}

p {
  font-family: $open-sans;
  font-weight: $regular;
  font-size: $medium;
  color: $nickel;
}

a {
  font-family: $raleway;
  font-weight: $bold;
  font-size: $small;
  color: $white;
}

small {
  font-family: $open-sans;
  font-weight: $regular;
  font-size: $x-small;
  color: $rasing-black;
}
