.header-navigation__button {
  display: inline-block;
  margin: $regular-size;
}

.header-navigation__button-inic {
  border-color: $white;
  background-color: $white;
  font-family: $open-sans;
  font-weight: $regular;
  font-size: $x-small;
  margin-right: 20px;
}

.header-navigation__button-reg {
  border-color: none;
  background-color: $ball-blue;
  font-family: $open-sans;
  font-weight: $regular;
  font-size: $x-small;
  color: $white;
  padding: 6px 15px;

  &:hover {
    background-color: $hover-state;
  }

  &:focus {
    background-color: $focus-state;
  }
}

.precios-img__card-button {
  width: $large-size;
  background-color: $ball-blue;
  border-color: $ball-blue;
  font-family: $open-sans;
  font-weight: $regular;
  font-size: $x-small;
  color: $white;
  padding: 10px;

  &:hover {
    background-color: $hover-state;
  }

  &:focus {
    background-color: $focus-state;
  }
}

@media only screen and (max-width: 375px) {
  body {
    margin: 0 auto;
    background-color: $white;
  }

  .header-navigation__button button {
    display: none;

    &:hover {
      background-color: $hover-state;
    }

    &:focus {
      background-color: $focus-state;
    }
  }
}
