header {
  margin-top: 2vh;
  margin-left: 5vw;
}

.header-navigation__logo {
  display: flex;

  h3 {
    font-family: $raleway;
    font-weight: $bold;
    font-size: $xxx-large;
  }

  small {
    font-family: $raleway;
    font-weight: $regular;
    font-size: $x-small;
  }
}

.header-navigation__button {
  margin-right: 45px;
}

.header-navigation__menu {
  justify-content: flex-end;
  margin-left: -30vw;
  margin-top: 2vh;

  li {
    display: inline-table;
    padding: 8px;
    margin-right: 20px;
    font-family: $raleway;
    font-weight: $regular;
    font-size: $x-small;
    color: $spanish-gray;
  }
}

.header-navigation__menu-navbar {
    display: none;
}



@media only screen and (max-width: 375px) {
  body {
    margin: 0 auto;
    background-color: $white;
  }

  .header-navigation__logo {
    display: flex;

    h3 {
      font-family: $raleway;
      font-weight: $bold;
      font-size: $x-large;
    }

    small {
      font-family: $raleway;
      font-weight: $regular;
      font-size: $x-small;
    }
  }

  .header-navigation__menu {
    display: none;
  }

  .header-navigation__menu-navbar {
      display: inline;
      align-items: flex-end;
      margin-right: 1rem;
  }

}
