// Esquema de colores

// Prime esquema de color
$white: #FFF;
$platinum: #E8E8E8;
$gray: #BABABA;

// Segundo esquema de colores
$dark-salmon: #EE9480;
$melon: #F4BAAE;
$pale-pink: #FADFDA;

// Tercer esquema de colores
$ball-blue: #2AB7CA;
$middle-blue: #77D1DD;
$blue-lagoon: #B1E4EB;

// Cuarto esquema de colores
$onyx: #333745;
$spanish-gray: #8F9199;
$lavender-gray: #C7C8CC;

// Quinto esquema de colores
$rasing-black: #221D23;
$nickel: #726F73;
$silver-chalice: #AEACAF;

// Tipografias
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Font weight
$bold: 700;
$regular: 400;

// Font size
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

$number-columns: 1fr;
$viewport-small: 576px;
$viewport-medium: 768px;
$viewport-large: 992px;
$viewport-xlarge: 1200px;

// Buttons size
$regular-size: 1vw 1vh;
$large-size: 2vw 2vh;

// Button state
$normal-state: #2AB7CA;
$hover-state: #77D1DD;
$focus-state: #8F9199;
