/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #221D23;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #221D23;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #221D23;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #221D23;
}

h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #726F73;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #726F73;
}

a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFF;
}

small {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #221D23;
}

.container {
  padding: 5px;
  width: 90vw;
  margin: 0 auto;
}

.container-fluid {
  padding: 5px;
  width: 100vw;
}

.container .row, .container-fluid .row {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  grid-gap: 10px;
  padding: 5px;
}

.container .row .col-1,
.container-fluid .row .col-1 {
  padding: 5px;
  grid-column: span 1;
}
.container .row .col-2,
.container-fluid .row .col-2 {
  padding: 5px;
  grid-column: span 2;
}
.container .row .col-3,
.container-fluid .row .col-3 {
  padding: 5px;
  grid-column: span 3;
}
.container .row .col-4,
.container-fluid .row .col-4 {
  padding: 5px;
  grid-column: span 4;
}
.container .row .col-5,
.container-fluid .row .col-5 {
  padding: 5px;
  grid-column: span 5;
}
.container .row .col-6,
.container-fluid .row .col-6 {
  padding: 5px;
  grid-column: span 6;
}
.container .row .col-7,
.container-fluid .row .col-7 {
  padding: 5px;
  grid-column: span 7;
}
.container .row .col-8,
.container-fluid .row .col-8 {
  padding: 5px;
  grid-column: span 8;
}
.container .row .col-9,
.container-fluid .row .col-9 {
  padding: 5px;
  grid-column: span 9;
}
.container .row .col-10,
.container-fluid .row .col-10 {
  padding: 5px;
  grid-column: span 10;
}
.container .row .col-11,
.container-fluid .row .col-11 {
  padding: 5px;
  grid-column: span 11;
}
.container .row .col-12,
.container-fluid .row .col-12 {
  padding: 5px;
  grid-column: span 12;
}
@media screen and (min-width: 576px) {
  .container .row .col-sm-1,
.container-fluid .row .col-sm-1 {
    grid-column: span 1;
  }
  .container .row .col-sm-1 .col-1,
.container-fluid .row .col-sm-1 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-sm-1 .col-2,
.container-fluid .row .col-sm-1 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-sm-1 .col-3,
.container-fluid .row .col-sm-1 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-sm-1 .col-4,
.container-fluid .row .col-sm-1 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-sm-1 .col-5,
.container-fluid .row .col-sm-1 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-sm-1 .col-6,
.container-fluid .row .col-sm-1 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-sm-1 .col-7,
.container-fluid .row .col-sm-1 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-sm-1 .col-8,
.container-fluid .row .col-sm-1 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-sm-1 .col-9,
.container-fluid .row .col-sm-1 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-sm-1 .col-10,
.container-fluid .row .col-sm-1 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-sm-1 .col-11,
.container-fluid .row .col-sm-1 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-sm-1 .col-12,
.container-fluid .row .col-sm-1 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-sm-2,
.container-fluid .row .col-sm-2 {
    grid-column: span 2;
  }
  .container .row .col-sm-2 .col-1,
.container-fluid .row .col-sm-2 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-sm-2 .col-2,
.container-fluid .row .col-sm-2 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-sm-2 .col-3,
.container-fluid .row .col-sm-2 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-sm-2 .col-4,
.container-fluid .row .col-sm-2 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-sm-2 .col-5,
.container-fluid .row .col-sm-2 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-sm-2 .col-6,
.container-fluid .row .col-sm-2 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-sm-2 .col-7,
.container-fluid .row .col-sm-2 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-sm-2 .col-8,
.container-fluid .row .col-sm-2 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-sm-2 .col-9,
.container-fluid .row .col-sm-2 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-sm-2 .col-10,
.container-fluid .row .col-sm-2 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-sm-2 .col-11,
.container-fluid .row .col-sm-2 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-sm-2 .col-12,
.container-fluid .row .col-sm-2 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-sm-3,
.container-fluid .row .col-sm-3 {
    grid-column: span 3;
  }
  .container .row .col-sm-3 .col-1,
.container-fluid .row .col-sm-3 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-sm-3 .col-2,
.container-fluid .row .col-sm-3 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-sm-3 .col-3,
.container-fluid .row .col-sm-3 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-sm-3 .col-4,
.container-fluid .row .col-sm-3 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-sm-3 .col-5,
.container-fluid .row .col-sm-3 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-sm-3 .col-6,
.container-fluid .row .col-sm-3 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-sm-3 .col-7,
.container-fluid .row .col-sm-3 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-sm-3 .col-8,
.container-fluid .row .col-sm-3 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-sm-3 .col-9,
.container-fluid .row .col-sm-3 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-sm-3 .col-10,
.container-fluid .row .col-sm-3 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-sm-3 .col-11,
.container-fluid .row .col-sm-3 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-sm-3 .col-12,
.container-fluid .row .col-sm-3 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-sm-4,
.container-fluid .row .col-sm-4 {
    grid-column: span 4;
  }
  .container .row .col-sm-4 .col-1,
.container-fluid .row .col-sm-4 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-sm-4 .col-2,
.container-fluid .row .col-sm-4 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-sm-4 .col-3,
.container-fluid .row .col-sm-4 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-sm-4 .col-4,
.container-fluid .row .col-sm-4 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-sm-4 .col-5,
.container-fluid .row .col-sm-4 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-sm-4 .col-6,
.container-fluid .row .col-sm-4 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-sm-4 .col-7,
.container-fluid .row .col-sm-4 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-sm-4 .col-8,
.container-fluid .row .col-sm-4 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-sm-4 .col-9,
.container-fluid .row .col-sm-4 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-sm-4 .col-10,
.container-fluid .row .col-sm-4 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-sm-4 .col-11,
.container-fluid .row .col-sm-4 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-sm-4 .col-12,
.container-fluid .row .col-sm-4 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-sm-5,
.container-fluid .row .col-sm-5 {
    grid-column: span 5;
  }
  .container .row .col-sm-5 .col-1,
.container-fluid .row .col-sm-5 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-sm-5 .col-2,
.container-fluid .row .col-sm-5 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-sm-5 .col-3,
.container-fluid .row .col-sm-5 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-sm-5 .col-4,
.container-fluid .row .col-sm-5 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-sm-5 .col-5,
.container-fluid .row .col-sm-5 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-sm-5 .col-6,
.container-fluid .row .col-sm-5 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-sm-5 .col-7,
.container-fluid .row .col-sm-5 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-sm-5 .col-8,
.container-fluid .row .col-sm-5 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-sm-5 .col-9,
.container-fluid .row .col-sm-5 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-sm-5 .col-10,
.container-fluid .row .col-sm-5 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-sm-5 .col-11,
.container-fluid .row .col-sm-5 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-sm-5 .col-12,
.container-fluid .row .col-sm-5 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-sm-6,
.container-fluid .row .col-sm-6 {
    grid-column: span 6;
  }
  .container .row .col-sm-6 .col-1,
.container-fluid .row .col-sm-6 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-sm-6 .col-2,
.container-fluid .row .col-sm-6 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-sm-6 .col-3,
.container-fluid .row .col-sm-6 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-sm-6 .col-4,
.container-fluid .row .col-sm-6 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-sm-6 .col-5,
.container-fluid .row .col-sm-6 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-sm-6 .col-6,
.container-fluid .row .col-sm-6 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-sm-6 .col-7,
.container-fluid .row .col-sm-6 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-sm-6 .col-8,
.container-fluid .row .col-sm-6 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-sm-6 .col-9,
.container-fluid .row .col-sm-6 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-sm-6 .col-10,
.container-fluid .row .col-sm-6 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-sm-6 .col-11,
.container-fluid .row .col-sm-6 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-sm-6 .col-12,
.container-fluid .row .col-sm-6 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-sm-7,
.container-fluid .row .col-sm-7 {
    grid-column: span 7;
  }
  .container .row .col-sm-7 .col-1,
.container-fluid .row .col-sm-7 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-sm-7 .col-2,
.container-fluid .row .col-sm-7 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-sm-7 .col-3,
.container-fluid .row .col-sm-7 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-sm-7 .col-4,
.container-fluid .row .col-sm-7 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-sm-7 .col-5,
.container-fluid .row .col-sm-7 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-sm-7 .col-6,
.container-fluid .row .col-sm-7 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-sm-7 .col-7,
.container-fluid .row .col-sm-7 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-sm-7 .col-8,
.container-fluid .row .col-sm-7 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-sm-7 .col-9,
.container-fluid .row .col-sm-7 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-sm-7 .col-10,
.container-fluid .row .col-sm-7 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-sm-7 .col-11,
.container-fluid .row .col-sm-7 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-sm-7 .col-12,
.container-fluid .row .col-sm-7 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-sm-8,
.container-fluid .row .col-sm-8 {
    grid-column: span 8;
  }
  .container .row .col-sm-8 .col-1,
.container-fluid .row .col-sm-8 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-sm-8 .col-2,
.container-fluid .row .col-sm-8 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-sm-8 .col-3,
.container-fluid .row .col-sm-8 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-sm-8 .col-4,
.container-fluid .row .col-sm-8 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-sm-8 .col-5,
.container-fluid .row .col-sm-8 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-sm-8 .col-6,
.container-fluid .row .col-sm-8 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-sm-8 .col-7,
.container-fluid .row .col-sm-8 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-sm-8 .col-8,
.container-fluid .row .col-sm-8 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-sm-8 .col-9,
.container-fluid .row .col-sm-8 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-sm-8 .col-10,
.container-fluid .row .col-sm-8 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-sm-8 .col-11,
.container-fluid .row .col-sm-8 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-sm-8 .col-12,
.container-fluid .row .col-sm-8 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-sm-9,
.container-fluid .row .col-sm-9 {
    grid-column: span 9;
  }
  .container .row .col-sm-9 .col-1,
.container-fluid .row .col-sm-9 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-sm-9 .col-2,
.container-fluid .row .col-sm-9 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-sm-9 .col-3,
.container-fluid .row .col-sm-9 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-sm-9 .col-4,
.container-fluid .row .col-sm-9 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-sm-9 .col-5,
.container-fluid .row .col-sm-9 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-sm-9 .col-6,
.container-fluid .row .col-sm-9 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-sm-9 .col-7,
.container-fluid .row .col-sm-9 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-sm-9 .col-8,
.container-fluid .row .col-sm-9 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-sm-9 .col-9,
.container-fluid .row .col-sm-9 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-sm-9 .col-10,
.container-fluid .row .col-sm-9 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-sm-9 .col-11,
.container-fluid .row .col-sm-9 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-sm-9 .col-12,
.container-fluid .row .col-sm-9 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-sm-10,
.container-fluid .row .col-sm-10 {
    grid-column: span 10;
  }
  .container .row .col-sm-10 .col-1,
.container-fluid .row .col-sm-10 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-sm-10 .col-2,
.container-fluid .row .col-sm-10 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-sm-10 .col-3,
.container-fluid .row .col-sm-10 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-sm-10 .col-4,
.container-fluid .row .col-sm-10 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-sm-10 .col-5,
.container-fluid .row .col-sm-10 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-sm-10 .col-6,
.container-fluid .row .col-sm-10 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-sm-10 .col-7,
.container-fluid .row .col-sm-10 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-sm-10 .col-8,
.container-fluid .row .col-sm-10 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-sm-10 .col-9,
.container-fluid .row .col-sm-10 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-sm-10 .col-10,
.container-fluid .row .col-sm-10 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-sm-10 .col-11,
.container-fluid .row .col-sm-10 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-sm-10 .col-12,
.container-fluid .row .col-sm-10 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-sm-11,
.container-fluid .row .col-sm-11 {
    grid-column: span 11;
  }
  .container .row .col-sm-11 .col-1,
.container-fluid .row .col-sm-11 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-sm-11 .col-2,
.container-fluid .row .col-sm-11 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-sm-11 .col-3,
.container-fluid .row .col-sm-11 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-sm-11 .col-4,
.container-fluid .row .col-sm-11 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-sm-11 .col-5,
.container-fluid .row .col-sm-11 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-sm-11 .col-6,
.container-fluid .row .col-sm-11 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-sm-11 .col-7,
.container-fluid .row .col-sm-11 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-sm-11 .col-8,
.container-fluid .row .col-sm-11 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-sm-11 .col-9,
.container-fluid .row .col-sm-11 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-sm-11 .col-10,
.container-fluid .row .col-sm-11 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-sm-11 .col-11,
.container-fluid .row .col-sm-11 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-sm-11 .col-12,
.container-fluid .row .col-sm-11 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-sm-12,
.container-fluid .row .col-sm-12 {
    grid-column: span 12;
  }
  .container .row .col-sm-12 .col-1,
.container-fluid .row .col-sm-12 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-sm-12 .col-2,
.container-fluid .row .col-sm-12 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-sm-12 .col-3,
.container-fluid .row .col-sm-12 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-sm-12 .col-4,
.container-fluid .row .col-sm-12 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-sm-12 .col-5,
.container-fluid .row .col-sm-12 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-sm-12 .col-6,
.container-fluid .row .col-sm-12 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-sm-12 .col-7,
.container-fluid .row .col-sm-12 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-sm-12 .col-8,
.container-fluid .row .col-sm-12 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-sm-12 .col-9,
.container-fluid .row .col-sm-12 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-sm-12 .col-10,
.container-fluid .row .col-sm-12 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-sm-12 .col-11,
.container-fluid .row .col-sm-12 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-sm-12 .col-12,
.container-fluid .row .col-sm-12 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
}
@media screen and (min-width: 768px) {
  .container .row .col-md-1,
.container-fluid .row .col-md-1 {
    grid-column: span 1;
  }
  .container .row .col-md-1 .col-1,
.container-fluid .row .col-md-1 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-md-1 .col-2,
.container-fluid .row .col-md-1 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-md-1 .col-3,
.container-fluid .row .col-md-1 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-md-1 .col-4,
.container-fluid .row .col-md-1 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-md-1 .col-5,
.container-fluid .row .col-md-1 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-md-1 .col-6,
.container-fluid .row .col-md-1 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-md-1 .col-7,
.container-fluid .row .col-md-1 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-md-1 .col-8,
.container-fluid .row .col-md-1 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-md-1 .col-9,
.container-fluid .row .col-md-1 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-md-1 .col-10,
.container-fluid .row .col-md-1 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-md-1 .col-11,
.container-fluid .row .col-md-1 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-md-1 .col-12,
.container-fluid .row .col-md-1 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-md-2,
.container-fluid .row .col-md-2 {
    grid-column: span 2;
  }
  .container .row .col-md-2 .col-1,
.container-fluid .row .col-md-2 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-md-2 .col-2,
.container-fluid .row .col-md-2 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-md-2 .col-3,
.container-fluid .row .col-md-2 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-md-2 .col-4,
.container-fluid .row .col-md-2 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-md-2 .col-5,
.container-fluid .row .col-md-2 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-md-2 .col-6,
.container-fluid .row .col-md-2 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-md-2 .col-7,
.container-fluid .row .col-md-2 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-md-2 .col-8,
.container-fluid .row .col-md-2 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-md-2 .col-9,
.container-fluid .row .col-md-2 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-md-2 .col-10,
.container-fluid .row .col-md-2 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-md-2 .col-11,
.container-fluid .row .col-md-2 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-md-2 .col-12,
.container-fluid .row .col-md-2 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-md-3,
.container-fluid .row .col-md-3 {
    grid-column: span 3;
  }
  .container .row .col-md-3 .col-1,
.container-fluid .row .col-md-3 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-md-3 .col-2,
.container-fluid .row .col-md-3 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-md-3 .col-3,
.container-fluid .row .col-md-3 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-md-3 .col-4,
.container-fluid .row .col-md-3 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-md-3 .col-5,
.container-fluid .row .col-md-3 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-md-3 .col-6,
.container-fluid .row .col-md-3 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-md-3 .col-7,
.container-fluid .row .col-md-3 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-md-3 .col-8,
.container-fluid .row .col-md-3 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-md-3 .col-9,
.container-fluid .row .col-md-3 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-md-3 .col-10,
.container-fluid .row .col-md-3 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-md-3 .col-11,
.container-fluid .row .col-md-3 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-md-3 .col-12,
.container-fluid .row .col-md-3 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-md-4,
.container-fluid .row .col-md-4 {
    grid-column: span 4;
  }
  .container .row .col-md-4 .col-1,
.container-fluid .row .col-md-4 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-md-4 .col-2,
.container-fluid .row .col-md-4 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-md-4 .col-3,
.container-fluid .row .col-md-4 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-md-4 .col-4,
.container-fluid .row .col-md-4 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-md-4 .col-5,
.container-fluid .row .col-md-4 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-md-4 .col-6,
.container-fluid .row .col-md-4 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-md-4 .col-7,
.container-fluid .row .col-md-4 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-md-4 .col-8,
.container-fluid .row .col-md-4 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-md-4 .col-9,
.container-fluid .row .col-md-4 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-md-4 .col-10,
.container-fluid .row .col-md-4 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-md-4 .col-11,
.container-fluid .row .col-md-4 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-md-4 .col-12,
.container-fluid .row .col-md-4 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-md-5,
.container-fluid .row .col-md-5 {
    grid-column: span 5;
  }
  .container .row .col-md-5 .col-1,
.container-fluid .row .col-md-5 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-md-5 .col-2,
.container-fluid .row .col-md-5 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-md-5 .col-3,
.container-fluid .row .col-md-5 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-md-5 .col-4,
.container-fluid .row .col-md-5 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-md-5 .col-5,
.container-fluid .row .col-md-5 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-md-5 .col-6,
.container-fluid .row .col-md-5 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-md-5 .col-7,
.container-fluid .row .col-md-5 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-md-5 .col-8,
.container-fluid .row .col-md-5 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-md-5 .col-9,
.container-fluid .row .col-md-5 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-md-5 .col-10,
.container-fluid .row .col-md-5 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-md-5 .col-11,
.container-fluid .row .col-md-5 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-md-5 .col-12,
.container-fluid .row .col-md-5 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-md-6,
.container-fluid .row .col-md-6 {
    grid-column: span 6;
  }
  .container .row .col-md-6 .col-1,
.container-fluid .row .col-md-6 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-md-6 .col-2,
.container-fluid .row .col-md-6 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-md-6 .col-3,
.container-fluid .row .col-md-6 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-md-6 .col-4,
.container-fluid .row .col-md-6 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-md-6 .col-5,
.container-fluid .row .col-md-6 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-md-6 .col-6,
.container-fluid .row .col-md-6 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-md-6 .col-7,
.container-fluid .row .col-md-6 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-md-6 .col-8,
.container-fluid .row .col-md-6 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-md-6 .col-9,
.container-fluid .row .col-md-6 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-md-6 .col-10,
.container-fluid .row .col-md-6 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-md-6 .col-11,
.container-fluid .row .col-md-6 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-md-6 .col-12,
.container-fluid .row .col-md-6 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-md-7,
.container-fluid .row .col-md-7 {
    grid-column: span 7;
  }
  .container .row .col-md-7 .col-1,
.container-fluid .row .col-md-7 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-md-7 .col-2,
.container-fluid .row .col-md-7 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-md-7 .col-3,
.container-fluid .row .col-md-7 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-md-7 .col-4,
.container-fluid .row .col-md-7 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-md-7 .col-5,
.container-fluid .row .col-md-7 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-md-7 .col-6,
.container-fluid .row .col-md-7 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-md-7 .col-7,
.container-fluid .row .col-md-7 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-md-7 .col-8,
.container-fluid .row .col-md-7 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-md-7 .col-9,
.container-fluid .row .col-md-7 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-md-7 .col-10,
.container-fluid .row .col-md-7 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-md-7 .col-11,
.container-fluid .row .col-md-7 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-md-7 .col-12,
.container-fluid .row .col-md-7 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-md-8,
.container-fluid .row .col-md-8 {
    grid-column: span 8;
  }
  .container .row .col-md-8 .col-1,
.container-fluid .row .col-md-8 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-md-8 .col-2,
.container-fluid .row .col-md-8 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-md-8 .col-3,
.container-fluid .row .col-md-8 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-md-8 .col-4,
.container-fluid .row .col-md-8 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-md-8 .col-5,
.container-fluid .row .col-md-8 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-md-8 .col-6,
.container-fluid .row .col-md-8 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-md-8 .col-7,
.container-fluid .row .col-md-8 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-md-8 .col-8,
.container-fluid .row .col-md-8 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-md-8 .col-9,
.container-fluid .row .col-md-8 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-md-8 .col-10,
.container-fluid .row .col-md-8 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-md-8 .col-11,
.container-fluid .row .col-md-8 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-md-8 .col-12,
.container-fluid .row .col-md-8 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-md-9,
.container-fluid .row .col-md-9 {
    grid-column: span 9;
  }
  .container .row .col-md-9 .col-1,
.container-fluid .row .col-md-9 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-md-9 .col-2,
.container-fluid .row .col-md-9 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-md-9 .col-3,
.container-fluid .row .col-md-9 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-md-9 .col-4,
.container-fluid .row .col-md-9 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-md-9 .col-5,
.container-fluid .row .col-md-9 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-md-9 .col-6,
.container-fluid .row .col-md-9 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-md-9 .col-7,
.container-fluid .row .col-md-9 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-md-9 .col-8,
.container-fluid .row .col-md-9 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-md-9 .col-9,
.container-fluid .row .col-md-9 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-md-9 .col-10,
.container-fluid .row .col-md-9 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-md-9 .col-11,
.container-fluid .row .col-md-9 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-md-9 .col-12,
.container-fluid .row .col-md-9 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-md-10,
.container-fluid .row .col-md-10 {
    grid-column: span 10;
  }
  .container .row .col-md-10 .col-1,
.container-fluid .row .col-md-10 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-md-10 .col-2,
.container-fluid .row .col-md-10 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-md-10 .col-3,
.container-fluid .row .col-md-10 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-md-10 .col-4,
.container-fluid .row .col-md-10 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-md-10 .col-5,
.container-fluid .row .col-md-10 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-md-10 .col-6,
.container-fluid .row .col-md-10 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-md-10 .col-7,
.container-fluid .row .col-md-10 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-md-10 .col-8,
.container-fluid .row .col-md-10 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-md-10 .col-9,
.container-fluid .row .col-md-10 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-md-10 .col-10,
.container-fluid .row .col-md-10 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-md-10 .col-11,
.container-fluid .row .col-md-10 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-md-10 .col-12,
.container-fluid .row .col-md-10 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-md-11,
.container-fluid .row .col-md-11 {
    grid-column: span 11;
  }
  .container .row .col-md-11 .col-1,
.container-fluid .row .col-md-11 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-md-11 .col-2,
.container-fluid .row .col-md-11 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-md-11 .col-3,
.container-fluid .row .col-md-11 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-md-11 .col-4,
.container-fluid .row .col-md-11 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-md-11 .col-5,
.container-fluid .row .col-md-11 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-md-11 .col-6,
.container-fluid .row .col-md-11 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-md-11 .col-7,
.container-fluid .row .col-md-11 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-md-11 .col-8,
.container-fluid .row .col-md-11 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-md-11 .col-9,
.container-fluid .row .col-md-11 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-md-11 .col-10,
.container-fluid .row .col-md-11 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-md-11 .col-11,
.container-fluid .row .col-md-11 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-md-11 .col-12,
.container-fluid .row .col-md-11 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
  .container .row .col-md-12,
.container-fluid .row .col-md-12 {
    grid-column: span 12;
  }
  .container .row .col-md-12 .col-1,
.container-fluid .row .col-md-12 .col-1 {
    padding: 5px;
    grid-column: span 1;
  }
  .container .row .col-md-12 .col-2,
.container-fluid .row .col-md-12 .col-2 {
    padding: 5px;
    grid-column: span 2;
  }
  .container .row .col-md-12 .col-3,
.container-fluid .row .col-md-12 .col-3 {
    padding: 5px;
    grid-column: span 3;
  }
  .container .row .col-md-12 .col-4,
.container-fluid .row .col-md-12 .col-4 {
    padding: 5px;
    grid-column: span 4;
  }
  .container .row .col-md-12 .col-5,
.container-fluid .row .col-md-12 .col-5 {
    padding: 5px;
    grid-column: span 5;
  }
  .container .row .col-md-12 .col-6,
.container-fluid .row .col-md-12 .col-6 {
    padding: 5px;
    grid-column: span 6;
  }
  .container .row .col-md-12 .col-7,
.container-fluid .row .col-md-12 .col-7 {
    padding: 5px;
    grid-column: span 7;
  }
  .container .row .col-md-12 .col-8,
.container-fluid .row .col-md-12 .col-8 {
    padding: 5px;
    grid-column: span 8;
  }
  .container .row .col-md-12 .col-9,
.container-fluid .row .col-md-12 .col-9 {
    padding: 5px;
    grid-column: span 9;
  }
  .container .row .col-md-12 .col-10,
.container-fluid .row .col-md-12 .col-10 {
    padding: 5px;
    grid-column: span 10;
  }
  .container .row .col-md-12 .col-11,
.container-fluid .row .col-md-12 .col-11 {
    padding: 5px;
    grid-column: span 11;
  }
  .container .row .col-md-12 .col-12,
.container-fluid .row .col-md-12 .col-12 {
    padding: 5px;
    grid-column: span 12;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu li {
  display: inline-table;
  padding: 8px;
  margin-right: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #726F73;
}

/*# sourceMappingURL=main.css.map */
